// app global css in SCSS form
@font-face {
	font-family: InterBold;
	font-style: normal;
	font-display: auto;
	font-weight: normal;
	src: local('Inter-Bold'),
				url('/fonts/Inter/Inter-Bold.woff2') format("woff2"),
				url('/fonts/Inter/Inter-Bold.woff') format("woff"),
				url('/fonts/Inter/Inter-Bold.ttf') format("ttf"),
}

@font-face {
font-family: InterMedium;
font-style: normal;
font-display: auto;
font-weight: normal;
src: local('Inter-Medium'),
			url('/fonts/Inter/Inter-Medium.woff2') format("woff2"),
			url('/fonts/Inter/Inter-Medium.woff') format("woff"),
			url('/fonts/Inter/Inter-Medium.ttf') format("ttf"),
}

@font-face {
  font-family: InterRegular;
  font-style: normal;
  font-display: auto;
  font-weight: normal;
  src: local('Inter-Regular'),
       url('/fonts/Inter/Inter-Regular.woff2') format("woff2"),
       url('/fonts/Inter/Inter-Regular.woff') format("woff"),
       url('/fonts/Inter/Inter-Regular.ttf') format("ttf"),
}

html {
  font-family: InterRegular;
  font-size: 16px;
  // color: #FFF;
}

.font-inter-medium {
  font-family: InterMedium;
}
.font-inter-regular {
  font-family: InterRegular;
}
.font-inter-bold {
  font-family: InterBold;
}

.fs-xl {
  font-size: 24px;
}

.fs-lg {
  font-size: 18px;
}
.fs-md {
  font-size: 16px;
}
.fs-xs {
  font-size: 14px;
}
.fs-xxs {
  font-size: 12px;
}